# Xcode
*.xcodeproj/project.xcworkspace/xcuserdata/
*.xcodeproj/xcuserdata/
*.xcworkspace/xcuserdata/
xcuserdata/

# Build
build/
DerivedData/
*.ipa
*.dSYM.zip
*.dSYM

# Swift Package Manager
.build/
Packages/
Package.pins
Package.resolved
*.xcodeproj/project.xcworkspace/xcshareddata/swiftpm/

# CocoaPods (if used)
Pods/

# Carthage (if used)
Carthage/Build/

# macOS
.DS_Store
*.swp
*~.nib

# Playgrounds
timeline.xctimeline
playground.xcworkspace
